:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDream: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

.flightsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #d6d4d493;
    table-layout: fixed;
    background-color: hsla(0, 0%, 93%, 0.58);
}


.flightsTable td {
    padding: 16px;
    text-align: left;
    width: 25%;
    vertical-align: middle;
}

.priceText {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.bookButton {
    background-color: hsl(199, 100%, 33%);
    color: white;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.bookButton:hover {
    background-color: var(--PrimaryColor);
}

.bookRow {
    border-bottom: 2px solid #d6d4d493;
}

.flightsTable thead th {
    border-bottom: 2px solid #d6d4d493;
    padding: 16px;
    border-top: none;
}

.returningFlightsHeader {
    background-color: hsla(199, 100%, 33%, 0.532);
    color: white;
    font-size: 25px;
    text-align: center;
}

.flightsTable tbody tr:hover {
    background-color: hsla(187, 85%, 43%, 0.506);
    cursor: pointer;
}

.flightsTable th {
    text-align: center;
}