:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 84, 107, 0.307);
  padding: 0.85rem 0.5rem;
}

.footer-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  width: 90%;
  border-radius: 0.75rem;
}

.footer-top {
  border-top-left-radius: 0.65rem;
  border-top-right-radius: 0.65rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(240, 240, 246, 0.593);
}

.logo-link {
  width: fit-content;
  margin: 0.4rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.footer-icon {
  width: 1.6rem;
  border-radius: 50%;
}

.footer-text {
  width: 90%;
  margin: 0.4rem;
}

.footer-bottom {
  border-bottom-left-radius: 0.65rem;
  border-bottom-right-radius: 0.65rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--SecondaryColor);
  padding: 0.3rem;
}

.footer-copyright {
  color: var(--whiteColor);
  margin-left: 2.5rem;
}
