/* .flightsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #d6d4d493;
    table-layout: fixed;
}

.flightsTable th,
.flightsTable td {
    padding: 16px;
    text-align: left;
    width: 25%;
}

.flightsTable td {
    vertical-align: middle;
}

.priceText {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.bookButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.bookButton:hover {
    background-color: #45a049;
}

.bookRow {
    border-bottom: 2px solid #d6d4d493;
}

.flightsTable thead th {
    border-bottom: 2px solid #d6d4d493;
    padding: 16px;
    border-top: none;
} */