:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDream: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

body {
    font-variant: var(--whiteColor);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    cursor: pointer;
}

.section {
    padding: 4rem 0 2rem;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
    font-size: 1.3rem;
    cursor: pointer;
}

.none {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.btn {
    padding: .7rem 1.5rem;
    background: var(--PrimaryColor);
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    color: var(--whiteColor);

    a {
        color: var(--whiteColor);
        font-weight: 500;
    }

    &:hover {
        background: var(--PrimaryColor);
    }
}

img,
video {

    width: 100%;
    height: auto;
}

input {
    font-size: 100%;
    color: var(--greyText);
}

p {
    font-size: 13px;
    color: var(--greyText);
    line-height: 22px;
}

h4 {
    padding: 1rem 0;
    font-weight: 700;
    color: var(--blackColor);
}

h2 {
    font-size: 25px;
    padding: 1rem 0;
    color: var(--blackColor);
}

.home {
    padding-top: 10rem;
    text-align: center;
    gap: 2rem;
    flex-direction: column;

    .mainText {
        color: var(--blackColor);
        font-weight: 700;
        font-size: 15px;
        line-height: 2.5rem;
    }

    .homeImages {
        width: 100%;
        margin: 1rem auto 0;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 5rem;

        .videoDiv {
            width: 100%;

            .video {
                position: absolute;
                width: 100%;
            }
        }
    }
}