.flightsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #d6d4d493;
    /* Lighter black for a softer look */
    table-layout: fixed;
    /* Ensures the columns are spread out evenly */
}

.flightsTable th,
.flightsTable td {
    padding: 16px;
    text-align: left;
    width: 25%;
    /* Sets each column to take up 25% of the table's width */
}

.flightsTable td {
    vertical-align: middle;
}

.priceText {
    margin-right: 10px;
    /* Adds some space between the price and the button */
    display: inline-block;
    /* Ensures the text and button are on the same line */
    vertical-align: middle;
    /* Aligns text with the button */
}

.bookButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    display: inline-block;
    /* Aligns the button next to the price text */
    vertical-align: middle;
    /* Ensures vertical alignment with the price text */
}

.bookButton:hover {
    background-color: #45a049;
}

.bookRow {
    border-bottom: 2px solid #d6d4d493;
}

.flightsTable thead th {
    border-bottom: 2px solid #d6d4d493;
    padding: 16px;
    border-top: none;
}