/* Example of a more specific CSS selector */
/* .departingFlightsHeaderDiv {
    margin-top: 100px;
} */
.masterTable-container {
    height: 180vh;
    background-image: url('../../assets/booking_bgd.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}