.offer-card {
  border: 1px solid var(--blackColor);
  margin: 1rem;
  width: 350px;
  height: 400px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0549);
  background-color: rgba(225, 225, 235, 1);
}

.small-text {
  padding-left: 0.4rem;
  color: var(--blackColor);
}

.offer-text {
  padding-left: 0.4rem;
  color: var(--blackColor);
}

.room-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem 0;
}

.room-type,
.bed-type,
.room-description,
.room-policy {
  margin: 0.25rem 0;
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  cursor: pointer;
}

.booking-button {
  box-shadow: 0 2px 4px var(--blackColor);
}

.booking-button:active {
  background-color: var(--SecondaryColor);
  box-shadow: 0 2px 4px var(--blackColor);
}
