body {
  margin: 0;
  padding: 0;
}

.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh;
  background-image: url('../../assets/booking_bgd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cart-items {
  margin-top: 20px;
  width: 100%; 
  max-width: 800px;
}

.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  color: white; 
}

.cart-item div {
  margin-bottom: 5px;
  color: white; 
}

button {
  background-color: #007bff;
  color: white; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.cart-title {
  color: white; 
}

.empty-cart-message {
  color: white; 
}


