.profile-container {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    height: 77.5vh;
    
}

.profile-heading {
    font-size: 1.875rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

.custom-div {
    padding: 0.75rem;
    max-width: 52rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.custom-input {
    border: 1px solid #000;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.custom-button {
    padding: .7rem 1.5rem;
    background: var(--PrimaryColor);
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    color: var(--whiteColor);
    font-weight: bolder;
    text-transform: uppercase;
}

.custom-button:hover {
    opacity: 0.95;
}

.custom-button:disabled {
    opacity: 0.8;
}

.custom-span {
    color: #e53e3e;
    cursor: pointer;
}

.profile-icon {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    cursor: pointer;
}

.custom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.left-column {
    width: 45%;
}

.right-column {
    width: 45%;
    margin-top: 9.5rem;
}

.profile-info {
    margin-bottom: 1.5rem;
}

.profile-info label {
    display: block;
    margin-bottom: 0.5rem;
}

.settings {
    margin-bottom: 1.5rem;
}

.booking-history {
    margin-bottom: 1.5rem;
}

.upcoming-trips {
    margin-bottom: 1.5rem;
}

.payment-methods {
    margin-bottom: 1.5rem;
}

.rewards {
    margin-bottom: 1.5rem;
}

.support {
    margin-bottom: 1.5rem;
}

.settings-button {
    display: block;
    width: 100%;
    max-width: 10rem;
    margin-top: 1.5rem;
}